@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Draxel";
	src: url("/font/Draxel.ttf") format("truetype");
}
@font-face {
	font-family: "Sofia-Regular";
	src: url("/font/Sofia-Regular.ttf") format("truetype");
}
